*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  padding: 20px;
}

input {
  width: 100%;
  font-size: 1.3rem;
}

h2 {
  text-align: center;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 230px;
  height: 50%;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}